<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="OrangeHRMLogin">
        <classes>
            <class name="Tests.OrangeHRM">
                <methods>
                    <include name="LaunchApp"/>
                    <include name="EnterLoginCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
<!--    hi-->
</suite>